# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

_*/
.*/
packages/
*.mdb
**/bin/
**/obj/
*.suo
Build/build.fsx
AltCover/Properties/launchSettings.json
*/coverage.opencover.xml
RegressionTesting/issue*/*.csproj
RegressionTesting/*/coverage.xml
RegressionTesting/issue20/NuGet.config
RegressionTesting/issue20/xunit-tests/coverage.xml
RegressionTesting/issue20/xunit-tests/xunit-tests.csproj
scratch/
Demo/MultiTest/**/coverage.xml
*.user
*.xsc
*.xss
TestResults/
AltCover/Abstract.fs
AltCover.Visualizer.Tests/Reports/
.fake
.ionide
AltCover.Engine/Abstract.fsi
Samples/Sample22/Sample22.fsproj
Samples/Sample22/coverage.xml
buildsample*.fsx.lock
AltCover.Recorder/Strings.resources
coverage.xml
**/Backup/
LastCoverageResults.log
CoverageReport-*
Samples/Sample29/Debug/
Samples/Sample29/SimpleMix/Debug/
