language: csharp
mono: latest
dotnet: 2.1.403
sudo: false
addons:
  apt:
    sources:
      - sourceline: "deb [arch=amd64] https://packages.microsoft.com/ubuntu/14.04/prod trusty main"
        key_url: "https://packages.microsoft.com/keys/microsoft.asc"
    packages:
      - powershell

git:
  depth: false

if: NOT branch =~ ^develop/.*$ OR branch =~ ^develop/travis/.*$

cache:
  timeout: 300
  directories:
  - packages
  - $HOME/.nuget

script:
  - export PATH="$PATH:/home/travis/.dotnet/tools"
  - dotnet restore ./dotnet-fake.fsproj
  - dotnet fake run ./Build/setup.fsx
  - dotnet fake run ./Build/build.fsx