version: 6.6.{build}-pre
branches:
  except:
  - /develop.*/
skip_tags: true
image: Visual Studio 2019
clone_depth: 2
environment:
  COVERALLS_REPO_TOKEN:
    secure: qgIIfE76i59qTVO64mT7QwKcAUUYCQLie4XdUdlnt7MXLhrwqTbcfGUsCss/TmLg
nuget:
  disable_publish_on_pr: true
install:
  - cinst gtksharp
build_script:
- ps: >-
    $ErrorActionPreference = 'Continue'

    & dotnet tool restore

    & dotnet fake run .\Build\setup.fsx

    & dotnet fake run .\Build\build.fsx

    $save = $LASTEXITCODE
    
    $error.Clear()

    Write-Host "Exit code $save"

    if ($save -ne 0) { exit $save }
test:
  assemblies:
    only:
    - _Binaries\AltCover.Tests\Debug+AnyCPU\*.Tests.dll
    - _Binaries\AltCover.Shadow.Tests\Debug+AnyCPU\*.Tests.dll
    - _Binaries\AltCover.WeakNameTests\Debug+AnyCPU\*Tests.dll
artifacts:
- path: _Packagin*\*.nupkg
  name: NuGet
deploy:
- provider: NuGet
  api_key:
    secure: SFuyRsZ1Ay5C4xJ19c4jPetnMcDmuFIToz2vWJvnvS6wQEDe8C+pubF6r9yIaBTH
  on:
    branch: /release.*/
notifications:
- provider: Slack
  incoming_webhook: 
    secure: yzKiNN5snmI7Vzh12NWUEKC+V/w5wGI1ZMUGPT8p5WRefjAbB6DSgYkmWnzNADq9SurhbgIE2hlcCQivCQJ5gQE3AEGFpe+V7Dh/Up/jV0U=
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false