<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FAKE" version="4.63.0" targetFramework="net47" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net47" />
  <package id="NUnit" version="3.8.1" targetFramework="net47" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net47" />
  <package id="OpenCover" version="4.6.519" targetFramework="net47" />
  <package id="ReportGenerator" version="2.5.11" targetFramework="net47" />
</packages>