<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BlackFox.VsWhere" version="1.0.0" targetFramework="net462" />
  <package id="Fake.Core.Process" version="5.9.3" targetFramework="net462" />
  <package id="Fake.Core.Trace" version="5.9.3" targetFramework="net462" />
  <package id="Fake.IO.FileSystem" version="5.9.3" targetFramework="net462" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net462" />
</packages>