<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.2" targetFramework="net452" />
  <package id="Mono.CSharp" version="4.0.0.143" targetFramework="net452" />
  <package id="Mono.Gendarme" version="2.11.0.20121120" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" targetFramework="net452" />
  <package id="OpenCover" version="4.6.519" targetFramework="net452" />
  <package id="Pester" version="4.4.1" targetFramework="net452" />
  <package id="ReportGenerator" version="4.0.9" targetFramework="net472" />
  <package id="xunit.runner.console" version="2.4.1" targetFramework="net472" developmentDependency="true" />
</packages>