name: CI

on:
  push:
    branches:
    - master
    - feature/*
    - develop/github/*    
  pull_request:
    branches:
    - master

jobs:
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.100'
    - name: Tools
      run: dotnet tool restore
    - name: Setup
      run: dotnet fake run ./Build/setup.fsx
    - name: Build
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: dotnet fake run ./Build/build.fsx
    - uses: actions/upload-artifact@v2
      with:
          name: nupkgs
          path: _Packagin*/*.nupkg
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
          name: reports.windows
          path: |
            _Reports
            _Packaging/*.xml
            ./**/AltCover*.log
            ./**/dotnettest.*.txt
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.100'
    - name: Tools
      run: dotnet tool restore
    - name: Setup
      run: dotnet fake run ./Build/setup.fsx
    - name: Build
      run: dotnet fake run ./Build/build.fsx  
    - uses: actions/upload-artifact@v2
      if: failure()
      with:
          name: reports.linux
          path: |
            _Reports
            _Packaging/*.xml
            ./**/AltCover*.log
            ./**/dotnettest.*.txt